:root {
    --color-text-primary: #ffffff;
    --primary-font-color: #111213;
    --text-inactive: #d2d2d2;
    --secondary-components-color: #8E8E93;
    --additional-text-font-color: #678259;
    
    --primary-background-color: #F4F4F4;
    --secondary-background-color: #3b3a3a;
    --dark-background: #202020;
    --inactive-background-color: #060606;
    --home-page-background: linear-gradient(#242424, #3b3a3a);
    --chat-header-background: #1c1c1d;
    --chat-message-me: #313131;
    --chat-message-other: #262628;
    --image-background-color: #D9D9D9;
    
    --primary-fill-color: #FFFFFF;
    --elements-fill-color: #EFEFEF;
    --secondary-fill-color: #727173;
    --input-border-color: #3a3a3c;
    --send-button-color: #d500c3;
    --placeholder-color: #636366;

    --accent-passive-color: #000e8a;
    --accent-active-color: #2c3e50;

    --navbar-height: 75px;
    --product-padding: 10px;
    --content-padding: 16px;
    --content-radius-primary: 18px;
    --content-radius-secondary: 8px;
    --content-width-desktop: 1100px;
    --control-elements-height: 45px;
    
    --chat-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    --default-shadow-color: rgba(23, 28, 23, 0.58);
    --default-shadow: 0 0 4px 0 var(--default-shadow-color);
    --home-intro-slide-shadow: 0 2.02px 6.17px rgb(0, 0, 0, 0.04),
    0 4.85px 14.83px rgb(0, 0, 0, 0.06),
    0 9.14px 27.92px rgba(13, 11, 11, 0.07),
    0 16.31px 49.81px rgb(0, 0, 0, 0.08),
    0 30.5px 93.16px rgb(0, 0, 0, 0.1),
    0 73px 223px rgb(0, 0, 0, 0.14);
    
    --transition-time: .3s;
    --disabled-filter: grayscale(.3);
    --elements-hover-rotation: rotate(4deg);
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 400;
    src: url("/src/assets/fonts/SFProText/SFProText-Regular.ttf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 500;
    src: url("/src/assets/fonts/SFProText/SFProText-Medium.ttf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 600;
    src: url("/src/assets/fonts/SFProText/SFProText-Semibold.ttf");
}

@font-face {
    font-family: "SF Pro Text";
    font-weight: 700;
    src: url("/src/assets/fonts/SFProText/SFProText-Bold.ttf");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    src: url("/src/assets/fonts/Inter/Inter-Bold.otf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "SF Pro Text", sans-serif;
    background: var(--home-page-background);
}

a:hover {
    color: var(--accent-passive-color);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-font-color);
}


.headline {
    font-family: "Inter";
    font-weight: 700;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -0.33px;
}

.user-name-title {
    font-family: "SF Pro Text";
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
}

.back-button-and-messages {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
}

.times {
    font-family: "SF Pro Text";
    font-weight: 400;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: 0px;
}

.titles {
    font-family: "SF Pro Text";
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.4px;
}