.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--dark-background);
  width: 100vw;
  overflow: hidden;
}

.chat-header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background-color: var(--chat-header-background);
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  padding: 0 var(--content-padding);
  box-shadow: var(--chat-shadow);
  z-index: 100;
}

.chat-header .user-icon {
  margin-left: auto;
  height: var(--control-elements-height);
}

.chat-header .second-user-name-title {
  position: absolute;
  left: 45%;
  font-size: 21px;
  color: var(--color-text-primary);
  font-family: 'SF Pro Text';
  font-weight: 500;
}

.chat-back-button {
  color: var(--color-text-primary);
  text-decoration: none;
  font-size: 18px;
  line-height: 1;
  padding: 10px 0;
  margin-right: 20px;
  position: relative;
  display: inline-flex;
  align-items: center;
  left: 0px;
  transition: color var(--transition-time);
  font-family: 'SF Pro Text';
  font-weight: 400;
}

.chat-back-button:hover {
  color: var(--text-inactive);
}

.messages-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: calc(100vh - var(--navbar-height)*2);
  margin-top: var(--navbar-height);
  margin-bottom: var(--navbar-height);
  padding: var(--content-padding);
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding-right: 15px;
  width: 100%;
}

.messages-container::-webkit-scrollbar {
  display: none;
}