.registration-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: var(--color-text-primary); 
}

.input-field {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 15px;
  font-size: 1rem;
  background: var(--dark-background)
}


.submit-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  background-color: var(--accent-active-color);
  border-radius: var(--content-radius-secondary);
  text-decoration: none;
  cursor: pointer;
  border: none;
  box-shadow: var(--chat-shadow);
  color: var(--color-text-primary);
  transition: background-color var(--transition-time);
}

.submit-button:hover {
  color: rgba(149, 149, 149, 0.8);
  background-color: var(--accent-active-color);
}

.reg-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: var(--accent-active-color);
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  padding: 0 20px;
  box-shadow: var(--chat-shadow);
  z-index: 100;
}

.reg-title {
  font-size: 25px;
  flex: 1;
  text-align: center;
  color: var(--color-text-primary);
}