.icon-button {
  border: none;
  border-radius: 40%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 45px;
  width: 45px;
  background-color: #1c1c1d;
  transition: background-color 0.2s;
}

.icon-button:hover {
    background-color: rgb(49, 49, 49);
}