.welcome-block {
    position: fixed;
    transform: translateY(-50%);
    top: 35%;
    left: 250px;
    user-select: none;
    animation: pulse 5s infinite ease-in-out;
    transform-origin: center;
    transform: scale(1);
}

@keyframes pulse {
    0%, 40% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.1);
    }
    60% {
        transform: scale(1);
    }
}

.text-style {
    position: fixed ;
    font-size: 56px;
    left: 200px;
    top: 550px
    
}

.center-link {
    display: inline-block;
    padding: 10px 10px;
    font-size: 10px;
    color: white;
    height: 150;
    background-color: white;
    border-radius: 18px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.center-link:hover {
    color: rgba(149, 149, 149, 0.8);
    background-color: gray;
    animation: slowePulse 5s infinite;
}

@keyframes slowePulse {
  0% {
    height: 150px;
  }

  20% {
    height: 170px;
  }

  60% {
    height: 170px;
  }

  80% {
    height: 150px;
  }
}