.message {
  max-width: 40ch;
  padding: 12px 16px;
  position: relative;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--color-text-primary);
}

.sender {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--color-text-primary);
}

.message-text {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'SF Pro Text';
  font-weight: 400;
}

.message-time {
  font-size: 12px;
  color: var(--light-gray);
  text-align: right;
  margin-top: 4px;
}


.message.mine {
  background: var(--chat-message-me);
  align-self: flex-end;
  border-radius: var(--content-radius-primary) var(--content-radius-primary) 0 var(--content-radius-primary);
}

.message.other {
  background: var(--chat-message-other);
  align-self: flex-start;
  border-radius: var(--content-radius-primary) var(--content-radius-primary) var(--content-radius-primary) 0;
  box-shadow: var(--chat-shadow);
}