.message {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 18px;
  position: relative; 
  color: #ffffff;
}

.sender {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 4px;
  color: white;
}

.message-text {
  font-size: 16px;
  line-height: 1.4;
}

.message-time {
  font-size: 12px;
  color: #8E8E93;
  text-align: right;
  margin-top: 4px;
}

/* Ваши сообщения (справа) */
.message.mine {
  background: #313131;
  align-self: flex-end;
  max-width: 70%;
  border-radius: 18px 18px 0 18px;
  margin-right: -20px;
}

/* Чужие сообщения (слева) */
.message.other {
  background: #262628;
  align-self: flex-start; /* Прижимаем к левому краю */
  max-width: 70%;
  border-radius: 18px 18px 18px 0; /* Скругление слева */
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}